:root {
    --numberOfColumns: -1;
    --aspect-ratio: -1;
    --sl-input-required-content: " " !important;
    --sl-input-required-content-offset: 0 !important;
}

.sl-carousel-custom-modification {
    height: max(335px, calc(100vh - 100px));
}

.card-overview {
    height: 100%;
}

sl-tab-group::part(nav) {
    display: flex;
    justify-content: center;
}

.developer-experience-range {
    --track-color-active: var(--sl-color-warning-600);
    --track-color-inactive: var(--sl-color-warning-100);
}

.horizontal-divider {
    --spacing: 2rem;
    --width: 0px;
}

#developmentTeamsSelectionTree, #editDeveloperDevelopmentTeamsSelectionTree {
    --indent-guide-width: 1px;
}

.label-on-left {
    --gap-width: 1rem;
}

.label-on-left + .label-on-left {
    margin-top: var(--sl-spacing-medium);
}

.label-on-left::part(form-control) {
    display: inline-grid;
    gap: var(--sl-spacing-3x-small) 0.875rem;
    align-items: center;
}

.label-on-left::part(form-control-label) {
    text-align: right;
}

#developer-recreate-form > .label-on-left::part(form-control-help-text) {
    margin-left: 0;
}

.label-on-left::part(form-control-help-text) {
    grid-column-start: 2;
    margin-left: -33px;
}

#developer-recreate-form > .label-on-left::part(form-control-input) {
    width: 90.7px !important;
    margin-left: 15px;
}

.label-on-left::part(form-control-input){
    width: 95px;
    margin-left: 5px;
}

#gender-male-radio-button::part(button) {
    background: var(--sl-color-neutral-0);
    border-color: rgba(135, 206, 235, 1);
    color: rgba(135, 206, 235, 1);
}

#gender-male-radio-button::part(button button--checked) {
    background-color: rgba(135, 206, 235, 1);
    border-color: rgba(135, 206, 235, 1);
    color: white;
}

#gender-male-radio-button::part(button):hover, #gender-male-radio-button::part(button button--checked):hover {
    background-color: rgba(135, 206, 235, 0.3);
    border-color: rgba(135, 206, 235, 0.3);
    color: white;
}

#gender-male-radio-button::part(button):active, #gender-male-radio-button::part(button button--checked):active {
    background-color: rgba(135, 206, 235, 0.6);
    border-color: rgba(135, 206, 235, 0.6);
    color: white;
}

#gender-female-radio-button::part(button) {
    background: var(--sl-color-neutral-0);
    border-color: rgba(255, 105, 180, 1);
    color: rgba(255, 105, 180, 1);
}

#gender-female-radio-button::part(button button--checked) {
    background-color: rgba(255, 105, 180, 1);
    border-color: rgba(255, 105, 180, 1);
    color: white;
}

#gender-female-radio-button::part(button):hover, #gender-female-radio-button::part(button button--checked):hover {
    background-color: rgba(255, 105, 180, 0.6);
    border-color: rgba(255, 105, 180, 0.6);
    color: white;
}

#gender-female-radio-button::part(button):active, #gender-female-radio-button::part(button button--checked):active {
    background-color: rgba(255, 105, 180, 0.8);
    border-color: rgba(255, 105, 180, 0.8);
    color: white;
}

sl-icon[name='gender-male'], sl-icon[name='gender-female'] {
    position: relative;
    top: 4px;
    right: 1.4px;
}