:root {
    --sl-input-required-content: " " !important;
    --sl-input-required-content-offset: 0 !important;
}

.card-overview {
    height: 100%;
}

sl-tab-group::part(nav) {
    display: flex;
    justify-content: center;
}

.developerExperienceSlRange {
    --track-color-active: var(--sl-color-warning-600);
    --track-color-inactive: var(--sl-color-warning-100);
}

.horizontalDivider {
    --spacing: 2rem;
    --width: 0px;
}

#developmentTeamsSelectionTree, #editDeveloperDevelopmentTeamsSelectionTree {
    --indent-guide-width: 1px;
}

.labelOnLeftModification {
    --gap-width: 1rem;
}

.labelOnLeftModification::part(form-control) {
    display: inline-grid;
    gap: var(--sl-spacing-3x-small) 0.875rem;
    align-items: center;
}

.labelOnLeftModification::part(form-control-label) {
    text-align: right;
}

#developersRecreateForm > .labelOnLeftModification::part(form-control-help-text) {
    margin-left: 0;
}

.labelOnLeftModification::part(form-control-help-text) {
    grid-column-start: 2;
    margin-left: -33px;
}

#developersRecreateForm > .labelOnLeftModification::part(form-control-input) {
    width: 90.7px !important;
    margin-left: 15px;
}

.labelOnLeftModification::part(form-control-input){
    width: 95px;
    margin-left: 5px;
}

#maleGenderSlRadio::part(button) {
    background: var(--sl-color-neutral-0);
    border-color: rgba(135, 206, 235, 1);
    color: rgba(135, 206, 235, 1);
}

#maleGenderSlRadio::part(button button--checked) {
    background-color: rgba(135, 206, 235, 1);
    border-color: rgba(135, 206, 235, 1);
    color: var(--sl-input-label-color);
}

#maleGenderSlRadio::part(button):hover, #maleGenderSlRadio::part(button button--checked):hover {
    background-color: rgba(135, 206, 235, 0.3);
    border-color: rgba(135, 206, 235, 0.3);
    color: var(--sl-input-label-color);
}

#maleGenderSlRadio::part(button):active, #maleGenderSlRadio::part(button button--checked):active {
    background-color: rgba(135, 206, 235, 0.6);
    border-color: rgba(135, 206, 235, 0.6);
    color: var(--sl-input-label-color);
}

#femaleGenderSlRadio::part(button) {
    background: var(--sl-color-neutral-0);
    border-color: rgba(255, 105, 180, 1);
    color: rgba(255, 105, 180, 1);
}

#femaleGenderSlRadio::part(button button--checked) {
    background-color: rgba(255, 105, 180, 1);
    border-color: rgba(255, 105, 180, 1);
    color: var(--sl-input-label-color);
}

#femaleGenderSlRadio::part(button):hover, #femaleGenderSlRadio::part(button button--checked):hover {
    background-color: rgba(255, 105, 180, 0.6);
    border-color: rgba(255, 105, 180, 0.6);
    color: var(--sl-input-label-color);
}

#femaleGenderSlRadio::part(button):active, #femaleGenderSlRadio::part(button button--checked):active {
    background-color: rgba(255, 105, 180, 0.8);
    border-color: rgba(255, 105, 180, 0.8);
    color: var(--sl-input-label-color);
}

span + sl-icon[name='gender-male'], span + sl-icon[name='gender-female'] {
    position: relative;
    top: 4px;
    right: 1.4px;
}