:root {
    --numberOfColumns: 3 !important;
    --sl-input-required-content: " " !important;
    --sl-input-required-content-offset: 0 !important;
}

.popup-active span[slot='anchor'] {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: dashed 2px var(--sl-color-neutral-600);
    margin: 50px;
}

.popup-active .box {
    width: 100px;
    height: 50px;
    background: var(--sl-color-primary-600);
    border-radius: var(--sl-border-radius-medium);
}

.ansi_console_snippet {
    font-family: monospace;
    white-space: pre;
    display: block;
    unicode-bidi: embed;
    overflow: auto;
    padding: 5px;
}

.ansi_console_snippet {
    background-color: black;
    color: var(--sl-input-label-color);
}

.ansi_fg_black {
    color: black
}

.ansi_fg_red {
    color: red
}

.ansi_fg_green {
    color: green
}

.ansi_fg_yellow {
    color: yellow
}

.ansi_fg_blue {
    color: blue
}

.ansi_fg_purple {
    color: purple
}

.ansi_fg_cyan {
    color: cyan
}

.ansi_fg_white {
    color: var(--sl-input-label-color)
}

.ansi_bg_black {
    background-color: black
}

.ansi_bg_red {
    background-color: red
}

.ansi_bg_green {
    background-color: green
}

.ansi_bg_yellow {
    background-color: yellow
}

.ansi_bg_blue {
    background-color: blue
}

.ansi_bg_purple {
    background-color: purple
}

.ansi_bg_cyan {
    background-color: cyan
}

.ansi_bg_white {
    background-color: var(--sl-input-label-color)
}

.ansi_fg_68m {
    color: rgb(51, 102, 204)
}

.labelOnLeftModification {
    --gap-width: 0.8rem;
}

.labelOnLeftModification::part(form-control) {
    display: inline-grid;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

.labelOnLeftModification::part(form-control-label) {
    text-align: right;
}

#generateRandomDataFlowForm > .labelOnLeftModification::part(form-control-help-text) {
    margin-left: 0;
}

.labelOnLeftModification::part(form-control-help-text) {
    grid-column-start: 2;
    margin-left: -33px;
}

#generateRandomDataFlowForm > .labelOnLeftModification::part(form-control-input) {
    width: 90.7px !important;
    margin-left: 15px;
}

sl-select.labelOnLeftModification::part(form-control-input) {
    width: 210px;
    margin-left: 5px;
}

.labelOnLeftModification::part(form-control-input) {
    width: 95px;
    margin-left: 5px;
}

.ansi_fg_7m::part(base) {
    color: rgb(117, 116, 116);
}

.ansi_fg_15m::part(base) {
    color: rgb(255, 255, 255);
}

.ansi_fg_37m::part(base) {
    color: rgb(0, 55, 218);
}

.ansi_fg_50m::part(base) {
    color: rgb(0, 135, 135);
}

.ansi_fg_124m::part(base) {
    color: rgb(135, 0, 0);
}

.ansi_fg_160m::part(base) {
    color: rgb(255, 0, 0);
}

.ansi_bg_7m {
    background-color: rgb(117, 116, 116);
}

.ansi_bg_15m {
    background-color: rgb(255, 255, 255);
}

.ansi_bg_37m {
    background-color: rgb(0, 55, 218);
}

.ansi_bg_50m {
    background-color: rgb(0, 135, 135);
}

.ansi_bg_124m {
    background-color: rgb(135, 0, 0);
}

.ansi_bg_160m {
    background-color: rgb(255, 0, 0);
}

#manageCustomEpicsSlButton::part(base) {
    background: var(--sl-color-neutral-0);
    border-color: rgb(150, 2, 253, 1);
    color: rgba(150, 2, 253, 1);
}

#manageCustomEpicsSlButton:hover:not([disabled])::part(base) {
    background-color: rgba(150, 2, 253, 0.3);
    border-color: rgba(150, 2, 253, 0.3);
    color: var(--sl-input-label-color);
}

#manageCustomEpicsSlButton:active:not([disabled])::part(base) {
    background-color: rgba(150, 2, 253, 0.6);
    border-color: rgb(150, 2, 253, 0.6);
    color: var(--sl-input-label-color);
}

#manageCustomUserStoriesSlButton::part(base) {
    background: var(--sl-color-neutral-0);
    border-color: rgba(130, 244, 131, 1);
    color: rgba(130, 244, 131, 1);
}

#manageCustomUserStoriesSlButton:hover:not([disabled])::part(base) {
    background-color: rgba(130, 244, 131, 0.3);
    border-color: rgba(130, 244, 131, 0.3);
    color: var(--sl-input-label-color);
}

#manageCustomUserStoriesSlButton:active:not([disabled])::part(base) {
    background-color: rgba(130, 244, 131, 0.6);
    border-color: rgba(130, 244, 131, 0.6);
    color: var(--sl-input-label-color);
}

#manageCustomTechnicalTasksSlButton::part(base) {
    background: var(--sl-color-neutral-0);
    border-color: rgba(124, 124, 124, 1);
    color: var(--sl-input-label-color);
}

#manageCustomTechnicalTasksSlButton:hover:not([disabled])::part(base) {
    background-color: rgba(124, 124, 124, 0.3);
    border-color: rgba(124, 124, 124, 0.3);
    color: var(--sl-input-label-color);
}

#manageCustomTechnicalTasksSlButton:active:not([disabled])::part(base) {
    background-color: rgba(124, 124, 124, 0.6);
    border-color: rgba(124, 124, 124, 0.6);
    color: var(--sl-input-label-color);
}

#informationLogs {
    background-color: var(--sl-color-neutral-0);
    width: 49vw;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    display: grid;
    row-gap: var(--sl-input-spacing-small);
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

#errorLogs {
    background-color: var(--sl-color-neutral-0);
    width: 48vw;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    display: grid;
    row-gap: var(--sl-input-spacing-small);
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

span + sl-icon[name='gender-male'], span + sl-icon[name='gender-female'] {
    position: relative;
    top: 4px;
    right: 1.4px;
}

sl-tab-panel[name='customEpicsViewTab'], sl-carousel, .tab-group__body {
    height: calc(100vh - 145px);
}

sl-radio-group[name='predefinedDataSelection']::part(form-control-input) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

sl-alert {
    white-space: normal;
    overflow-wrap: break-word;
}